
    <!-- ================================================ HEADER ================================================ -->
    <header class="header" id="header">
        <div class="header-top">
            <div class="header-container flexitem container">
                <div class="header-contact">
                    <span>(+01) - 2345 - 6789</span>
                    <span> Our Location</span>
                </div>
                <p class="header-alert-news">
                    Get 30% extra discount on your first order.
                </p>
                <a href="/login" class="header-top-action">
                    Log in
                </a>
                <a href="/signup" class="header-top-action">
                    Sign Up
                </a>
            </div>
        </div>
        <nav class="navbar flexitem container">
            <a href="index.html" class="nav-logo">
                <img src="assets/images/logo.svg" alt="" class="nav-logo-img">
            </a>

            <div class="nav-menu flexitem" id="nav-menu">
                <div class="nav-menu-top">
                    <a href="index.html" class="nav-menu-logo">
                        <img src="assets/images/logo.svg" alt="">
                    </a>
                    <div class="nav-close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
                <ul class="nav-list flexitem">
                    <li class="nav-item">
                        <a href="/userHome" class="nav-link active-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/shop" class="nav-link">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a href="/myAccount" class="nav-link">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                </ul>
                               
                <div class="header-search">
                    <input type="text" id="searchInput"  placeholder="Search Products..." class="form-input">
                    <button class="search-btn" id="searchButton">
                        <img src="assets/search.png" alt="">
                    </button>
                </div>
            </div>

            <div class="header-user-action flexitem">
                <a href="/wishlist" class="header-action-btn">
                    <img src="assets/icon-heart.svg" alt="">
                    <!-- <span class="count">3</span> -->
                </a>
                <a href="/cart" class="header-action-btn">
                    <img src="assets/icon-cart.svg" alt="">
                    <!-- <span class="count">5</span> -->
                </a>

                <div class="header-action-btn nav-toggle" id="nav-toggle">
                    <img src="assets/images/menu-burger.svg" alt="">
                </div>
            </div>
        </nav>
    </header>
