<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="adminOrder.css">

</head>
<body>
    <h1>Admin Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.orderId %></td>
                    <td><%= order.createdAt.toDateString() %></td>
                    <td><%= order.status %></td>
                    <td>
                        <form action="/updateOrder/<%= order._id %>" method="post">
                            <select name="status">
                                <option value="Pending">Pending</option>
                                <option value="Processing">Processing</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Delivered">Delivered</option>
                            </select>
                            <button type="submit">Update Status</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
