<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Document</title>
</head>
<body>

			<div class="login">
				<form action="/login" method="post">
					<label for="chk" aria-hidden="true">Login</label>
                    <!-- <label for="email">email</label> -->
					<input type="email" name="email" placeholder="Email" >
					<input type="password" name="password" placeholder="Password" >
					<button class="log">Login</button>
				</form>
				<a class="sign" href="/signup">Doesn't have an account?<button class="sig">Sign up</button></a>

			</div>

</body>
</html>