<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Placed</title>
  <link rel="stylesheet" href="/success.css">
  <link rel="shortcut icon" href="images/cartlogo.png" type="image/x-icon">
</head>
<body class="orderPlacedBody">
  <div class="orderPlaced-Content">
    <div class="orderPlaced-left">
      <div class="demo-wrapper">
        <div class="svg-wrapper">
          <svg class="svg" version="1.1" id="tick" viewBox="6 5 26 26">
            <polyline
              class="path"
              points="
                  11.6,20 15.9,24.2 26.4,13.8 "
            />
          </svg>
        </div>
      </div>
      <div class="order-text">ORDER PLACED SUCCESSFULLY !!</div>
      <div class="orderDetails">
        <h4>ORDER SUMMARY :</h4>
        <p>Order ID : 123456</p>
        <p class="addressDetails">
          Will be delivered to: House Number - 1234,
          XYZ Locality, City Name,
          State Name - 123456
        </p>
        <p>Delivery Date : Mon Mar 05 2024</p>
        <p>Payment Method : Credit Card</p>
      </div>
      <div class="orderPlaced-left-btns">
        <a href="/userHome"><button>Continue Shopping</button></a>
      </div>
    </div>
  </div>
</body>
</html>
