<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/otp.css">
    <title>Document</title>
</head>
<body>
    <div class="alert">
        Your Secret code :<span class="check"></span>
      </div>
      <div class=main>
        <form action="/orderOtp" method="post">
          <p>An OTP has been sent to <%=email%></p>
        <h1>OTP : <input type="text"class="ok" name="otp" required></h1>
      <button type="submit" class="btn">Submit!</button></br>
    </form>
        <!-- <button type="submit" class="btn2">Genrate !</button> -->
       
      </div>
</body>
</html>